.hero img{
    border-radius: 50%;
    margin-top: 30px;
}
.hero{
    display: flex;
    align-items: center;
    gap: 35px;
    flex-direction: column;
    /* padding-bottom: 5cm;
    margin-bottom: 5cm; */
    
}

.social-img{
  
    display: flex;
    justify-content: space-between;
    gap: 40px;


}


.img-s{
    display: flex;
    flex-direction: column;
    
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 60px;
    font-weight: 600;
}
.hero h1 span{
    background: linear-gradient(to right, rgb(222, 222, 80), rgb(85, 156, 73));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(to right, rgb(222, 222, 80), rgb(85, 156, 73));
    cursor: pointer;

    
}
.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
}
.hero-connect:hover{
    border: 2px solid white;
}
.hero-resume:hover{
    border-color: rgb(85, 156, 73) ;
}

@media(max-width:768px) {
    .hero img{
        /* margin-bottom: 80px; */
        width: 260px;
    }
    .hero h1{
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }
    .hero p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;

    }
    .hero-connect{
        padding: 20px 30px;
        border-radius: 40px;
    }
    .hero-resume{
        padding: 20px 50px;
        border-radius: 40px;
    }

    
}