.ration_head{
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
flex-direction: column;
    



}
.quick-ration{
    margin: 80px 170px;
}
.ration_head h1{
    font-size: 70px;
    font-weight: 500;
    padding: 0 30px;
    background: linear-gradient(to right, rgb(222, 222, 80), rgb(85, 156, 73));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding: 30px;
margin: 30px;

}

.ration-overview{
    justify-content: center;
    align-items: center;
    

}
.ration-overview h2{
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    padding: 0 30px;
    background: linear-gradient(to right, rgb(222, 222, 80), rgb(85, 156, 73));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.ration-overview p{
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    padding: 20px;

}
.ration-key h2{
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    padding: 0 30px;
    background: linear-gradient(to right, rgb(222, 222, 80), rgb(85, 156, 73));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.ration-key li{
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    padding: 20px;
    list-style: circle;



}
.ration-tech h2{
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    padding: 0 30px;
    background: linear-gradient(to right, rgb(222, 222, 80), rgb(85, 156, 73));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.ration-tech li{
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    padding: 20px;
    list-style: circle;



}
.rlink{
    margin-top: 50px;
       align-items: center;
    font-size: 24px;
    font-weight: 600;
    padding: 0 30px;
    display: flex;
  
   width: 100%;
   /* background: linear-gradient(to right, rgb(222, 222, 80), rgb(85, 156, 73));
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
     */



}

.rlink-git{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;

}
.rlink-git h4{
       background: linear-gradient(to right, rgb(222, 222, 80), rgb(85, 156, 73));
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    
}
.rlink-git a{
    text-decoration: none;
    color: antiquewhite;
}
.ration-img{
    padding: 0px;
    margin-top: 50px;
   
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 100px;
   
   
}
.ration-img1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
   
    
}
.ration-imgh2{
    padding: 0 30px;
    margin-top: 50px;
}
.ration-imgh2 h2{
    background: linear-gradient(to right, rgb(222, 222, 80), rgb(85, 156, 73));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    padding: 0 30px;
}
@media(max-width:768px){
    .quick-ration{
        margin: 50px 70px;
    }
    .ration_head h1{
        font-size: 50px;

    }
    .ration-overview h2{
        font-size: 34px;
    }
    .ration-overview p{
        font-size: 20px;
    }
    .ration-key h2{
        font-size: 34px;
    }
    .ration-key li{
        font-size: 20px;
    }
    .ration-tech h2{
        font-size: 34px;
    }
    .ration-tech li{
        font-size: 20px;
    }
    .ration-imgh2 h2{
        font-size: 34px;
    }
    .ration-img{
        flex-direction: column;
        gap: 40px;
    }
    .rlink-git h2{
        font-size: 34px;

    }
    .rlink-git a{
        font-size: 20px;
    }


}