.navbar{
display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 150px;
    /* padding-bottom: 1cm; */
   
    
    
   

}
.navbar-brand img{
    padding-right: 70px;
}
.nav-item{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    
   

}
/* .navbar-brand{
    display: flex;
    align-items: center;
    margin-left: 3cm;
    
} */
.nav-item a{
    text-decoration: none;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.nav-item a img{
    display: flex;
    margin: auto;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 60px;
    font-size: 20px;
    color: antiquewhite;
  

}
button{
    padding: 20px 30px;
    border-radius: 50px;
    background: linear-gradient(to right, rgb(222, 222, 80), rgb(85, 156, 73));
    border: none;
   font-size: 13px;
    color: antiquewhite;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 2cm;
    width: 170px;

}
.nav-connect:hover{
    transform: scale(1.05);

}
.anchor-link{
    color: antiquewhite;
    text-decoration: none;
}
/* @media(max-width:767px){
    .navbar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 0px;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    .navbar-nav{
        position: fixed;
        flex-direction: column;
        align-items: center;
        top: 0;
        gap: 30px;
        background-color: rgb(73, 73, 73);
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }

} */
.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
}


.upp-arrow{
    position: fixed;
    top: 0;
    align-items: end;
    float: right;
    padding: 30px;
    

}
@media(max-width: 768px){
    .navbar{
        display: flex;

    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    .navbar-nav{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: rgb(73, 73, 73);
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .navbar-nav li{
        font-size: 30px;
        padding-right: 100px;
        flex-direction: row;
        gap: 20px;
    }

}