.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 80px 170px;
}
.contact-title{
    position: relative;
}
.contact-title h1{
    padding: 0px 20px;
    font-size: 80px;
    font-weight: 600;

}
.contact-section{
    display: flex;
    gap: 150px;
    

}


 .contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.contact-left h1{
    font-size: 80px;
    font-weight: 600;
    background: linear-gradient(to right, rgb(222, 222, 80), rgb(85, 156, 73));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.contact-left p{
    max-width: 550px;
    color: antiquewhite;
    font-size: 20px;
    line-height: 35px;
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: antiquewhite;
    font-size: 22px;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}
.contact-details img{
    border-radius: 50%;
    transition: 0.5s;
}
.contact-details img:hover{
    transform: scale(1.5);

}
.contact-form{
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin-bottom: 90px;
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
.contact-right label{
    color: antiquewhite;
    font-size: 22px;
    font-weight: 500;
}
.contact-right input{
    border: non;
    width: 700px;
    height: 70px;
    padding-left: 20px;
    border-radius: 4px;
    background: rgb(58, 57, 57);
    color: antiquewhite;
    font-family:'EB+Garamond';
    font-size: 20px;
}
.contact-right textarea{
    width: 650px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background:  rgb(58, 57, 57);
    color: antiquewhite;
    font-family: 'EB+Garamond';
    font-size: 20px;
}
.contact-submit{
    border: none;
    color: antiquewhite;
    border-radius: 50px;
    background: linear-gradient(to right, rgb(222, 222, 80), rgb(85, 156, 73));
    font-size: 15px;
    padding: 20px 40px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;

}
.contact-submit:hover{
    transform: scale(1.2);
}


@media(max-width:768px){
    .contact{
        gap: 50px;
        margin: 50px 70px; 
        align-items: start;

    }
    .contact-title h1{
        font-size: 50px;
        padding: 0;
        font-weight: 600;

    }
    .contact-section{
        flex-direction: column;
        gap: 80px;
       
        
    }
    .contact-left h1{
        font-size: 50px;



    }
    .contact-left p{
        font-size: 18px;
    }
    .contact-details{
        gap: 20px;

    }
    .contact-detail img{
        width: 30px;
        height: 30px;
    }
    .contact-form{
        width: 95%;
    }
    .contact-form label{
        font-size: 20px;
       
    }
    .contact-form input{
        width: 100%;
        font-size: 20px;
       
         
    }
    .contact-form textarea{
        width: 95%;
        font-size: 20px;
        height: 150px;
    }
   
    .contact-submit{
        font-size: 10px;
        padding: 15px 40px;
       
        
    }

}
